.head{
    background-color: #14213D;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

span{

    color: white;
    margin-left: 1rem;
}

.btn{
    width: 75vw;
    margin-bottom: 5rem;
    position: relative;
    margin-left: 3rem;

}

.container1{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
   
}

h1{
    text-align: center;
}

th{
    width: 20%;
    margin-left: 2rem;
}

.p1{
    margin-left: 1rem;
}