.head{
    background-color: #14213D;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

span{

    color: white;
    margin-left: 1rem;
}

.btn{
    width:200%;
    margin-bottom: 5rem;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
   
}




.container1{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
   
}

h1{
    text-align: center;
}

th{
    width: 20%;
    margin-left: 2rem;
}

.p1{
    margin-left: 1rem;
}


.circle{
    background-color: #14213D;
    width: 10%;
    height: 9rem;
    border-radius: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


  .connector{
      width: 70%;
      height: 2rem;
      position: absolute;
      background-color:#14213D;
      margin-left: 14rem;
      margin-top: 4rem;
  
  }
  
  .bi{
      margin-left: 3%;
      font-size: 4rem;
      color: white;
    
      position: absolute;
  }
  
  .desc{
      margin-left: 3rem;
      margin-top: 5rem;
      position: absolute;
  }

  .row{
    width: 100%;
  }

  .col-sm{
    width: 45%;
    background-color: #14213D;
    height: 230vh;
    border-radius: 0 8rem 8rem 0;
  }

  .col-sm1{
    width: 55%;
  }

  h1{
    color: white;
    margin-top: 2rem;
  }





  //cv styling

  .heading{
    
    background-color: #14213D;
    height: 4rem;
   
  }


  span{
    color: white;
  
   
  }

.topSpace{
    margin-top: 10rem;
}

.heading1{
    background-color: black;
    height: 3rem;
    border-radius: 5rem;
    margin-top: 2rem;

}

p{margin-left: 1rem;}

  /* Responsive. */
@media (max-width: 900px) {
    .stepper {
        display: none;
    }

    .col-sm{
        width: 45%;
        background-color: #14213D;
        height: 50vh;
        border-radius: 0 2rem 2rem 0;
      }
    
      .btn{
        width:100%;
        margin-bottom: 5rem;
        position: relative;
       
    
    }



  .heading{
    
    background-color: #14213D;
    height: 3rem;
    width: 12rem;
   
  }
    
}