.h{
    background-color: #14213D;
    height: 3rem;
    width: 100%;
}


.imgP{
    width: 80%;
    height: 30rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
}

.leftS{
    margin-top: 30%;
    align-items: center;
}

.logo{
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
}

.logo1{
    
    width: 40%;
   
    
}

p{
    width: 80%;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.btnC{
    margin-left: 10%;
    background-color: #14213D;
    border-radius: 0.5rem;
    width: 80%;
    height: 3rem;
    margin-right: 10%;
}

.navbar-nav{
    float: right;
    margin-left: 75rem;
    position: absolute;
}