.h{
    background-color: #14213D;
    height: 3rem;
    width: 100%;
}


.imgP{
    width: 80%;
    height: 30rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
}

.leftS{
    margin-top: 30%;
    align-items: center;
}

.logo{
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
}

.logo1{
    
    width: 40%;
   
    
}

p{
    width: 80%;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.btnC{
    margin-left: 10%;
    background-color: #14213D;
    border-radius: 0.5rem;
    width: 80%;
    height: 3rem;
    margin-right: 10%;
}

span{
    color: white;
}



section{
    background-color: #F0F0F0;
}

strong{
    margin-top: 2rem;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.card1{
    margin-top: 1rem;
    background-color: white;
    height: 14rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.circle{
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background-color: #14213D;
    margin-left: 40%;
    margin-right: 40%;
    
}

.p1{
    color: white;
    text-align: center;
   
 
    
}

.sec{
    background-color:white;
}

h1{
    text-align: center;
    margin-top: 3rem;
}

.p3{
    width: 80%;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

h2{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
  
}

i{
    font-size: 4rem;
    margin-left: 35%;
    margin-right: 35%;
    color: #14213D;
}


.card2{
    margin-top: 2rem;
    height: cover;
    width: 100%;
    background-color: white;
  
   
}



.th2{
    width: 20%;
}

.imgCl{
    margin-left: 1rem;
    width: 35rem;
    height: 25rem;
}



//left side animation

.card2{
   
    
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
      
 

}
@keyframes slide-right {
        
  	
    0% {
        transform:translateX(-40rem);
    }
    25%{
        transform:translateX(-30rem);
    }
    50%{
        transform:translateX(-20rem);
    }
    75%{
        transform:translateX(-10rem);
    }
    100% {
        transform:translateX(0rem);
    }
    
    
}






/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color:#14213D;
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }

    .sec3{

        display: none;
     
       
    }

    .imgCl{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 15rem;
    }
}