<app-navbar></app-navbar>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="leftS">
          <img  class="logo" src="../../../assets/awe.png">
          <p>Create your very own cv and download it within 15min</p>
          <button class="btnC"  [routerLink]="['/template']" routerLinkActive="router-link-active" ><span>Create your Cv</span></button>
          </div>
        </div>
        <div class="col-sm">
            <img  class="imgP" src="../../../assets/banner-resume.webp">
         
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <br>
        <strong>Here is our steps of creatin a cv that will earn you jobs </strong>


        <div class="col-sm">
          

        <div class="card1">
            <br>
            <i class="bi bi-1-circle-fill"></i>

           <p>pick a template</p>
           </div>
        </div>

             
        <div class="col-sm">
          

          <div class="card1">
              <br>
              <i class="bi bi-2-circle-fill"></i>
  
             <p>fill form</p>
             </div>
          </div>

               
        <div class="col-sm">
          

          <div class="card1">
              <br>
              <i class="bi bi-3-circle-fill"></i>
  
             <p>Make payment</p>
             </div>
          </div>

               
        <div class="col-sm">
          

          <div class="card1">
              <br>
              <i class="bi bi-4-circle-fill"></i>
  
             <p>Download and Enjoy</p>
             </div>
          </div>

      </div>
    </div>
  </section>

  <section class="sec3">

    <div class="splitview skewed">
      <div class="panel bottom">
          <div class="content">
              <div class="description">
                  <h1></h1>
                  <p></p>
              </div>
  
              <img src="https://www.jobseeker.com/api/media/documents/3bdb184f-d098-44a1-b5fd-1bf34f5d2af3/CV-templates.svg?v=1650287576043" alt="Original" style="height:35rem; ">
          </div>
      </div>
  
      <div class="panel top">
          <div class="content">
              <div class="description">
                  <h1></h1>
                  <p></p>
              </div>
  
              <img src="https://www.jobseeker.com/api/media/documents/3bdb184f-d098-44a1-b5fd-1bf34f5d2af3/CV-templates.svg?v=1650287576043" alt="Duotone" style="height:35rem; ">
          </div>
      </div>
  
      <div class="handle"></div>
  </div>
  </section>
 
   


    <section style="background-color:white;">
    <div class="container">
        <div class="row">
          <div class="col-sm">

            <div class="card2">
                <br>
                

                 <img class="imgCl" src="../../../assets/img/undraw_at_work_re_qotl.svg" alt="">



            </div>
            
          </div>
          <div class="col-sm">

            <div class="card3">
              <br>
              <h2>Let us create it for you</h2>


              <table>
                <tr>
                  <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                <tr>

                  <tr>
                    <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                  <tr>

                    <tr>
                      <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                    <tr>

                      <tr>
                        <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                      <tr>
               </table>
              
            </div>
          
          </div>
         
        </div>
      

      <br><br>
      </div>

      </section>


  

<app-footer></app-footer>


      

