
<div class="h"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <img  class="logo1" src="../../../assets/awe.png"></a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">Logout</a>
        </li>
    
      </ul>
    </div>
  </nav>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="leftS">
          <img  class="logo" src="../../../assets/awe.png">
          <p>Create your very own cv and download it within 15min</p>
          <button class="btnC"><span>Create your Cv</span></button>
          </div>
        </div>
        <div class="col-sm">
            <img  class="imgP" src="../../../assets/banner-resume.webp">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <br>
        <strong>Here is our steps of creatin a cv that will earn you jobs </strong>


        <div class="col-sm">
          

        <div class="card1">
            <br>
            <i class="bi bi-1-circle-fill"></i>

           <p>pick a template</p>
           </div>
        </div>

             
        <div class="col-sm">
          

          <div class="card1">
              <br>
              <i class="bi bi-1-circle-fill"></i>
  
             <p>fill form</p>
             </div>
          </div>

               
        <div class="col-sm">
          

          <div class="card1">
              <br>
              <i class="bi bi-1-circle-fill"></i>
  
             <p>Make payment</p>
             </div>
          </div>

               
        <div class="col-sm">
          

          <div class="card1">
              <br>
              <i class="bi bi-1-circle-fill"></i>
  
             <p>Download and Enjoy</p>
             </div>
          </div>

      </div>
    </div>
  </section>


 
    <section class="sec">
      <h1>Apply Successfully</h1>

      <p class="p3">With the help of CV maker, your professional resume is always within reach.
         Whether you decide to quickly and easily create it yourself with our
         CV maker, or having it made bespoke by our professionals
           - your resume always stands out from the crowd.</p>

    </section>


    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm">

            <div class="card2">
                <br>
                <strong>Create your own personal resume</strong>

                 <table>
                  <tr>
                    <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                  <tr>

                    <tr>
                      <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                    <tr>

                      <tr>
                        <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                      <tr>

                        <tr>
                          <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                        <tr>
                 </table>



            </div>
            
          </div>
          <div class="col-sm">

            <div class="card2">
              <br>
              <h2>Let us create it for you</h2>


              <table>
                <tr>
                  <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                <tr>

                  <tr>
                    <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                  <tr>

                    <tr>
                      <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                    <tr>

                      <tr>
                        <th class="th1"><i class="bi bi-arrow-right-circle-fill"></i></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <th><br> our online CV maker, it is simple for anyone to quickly create a professional resume. Enter your personal details and begin filling out your resume content.</th>
                      <tr>
               </table>
              
            </div>
          
          </div>
         
        </div>
      </div>

      </section>


      

