
<!-- <section class="vh-100" style="background-color: #ffff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" >
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid"  />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form  [formGroup]="loginForm" (ngSubmit)="onLogin()" style="width: auto;">
                        <div class="header">
                            <div class="circle1">
                                <div class="circle2"></div>
                            </div>
                        
                        </div>

                      <img  class="logo" src="../../../assets/Screenshot 2022-11-24 at 02.20.37.png">
                           
                         <h1>WE GOT YOU</h1>

                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="email" placeholder="Enter your Email" aria-label="Username" aria-describedby="basic-addon1" required>
                              </div>
                         
                      
                              <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                                </div>
                                <input type="text" class="form-control" formControlName="password" placeholder="Enter your password" aria-label="Username" aria-describedby="basic-addon1" required>
                              </div>
                        
            
            
                        <div class="pt-1 mb-4">
                          <button class="btn"  [disabled]="!loginForm.valid"><span>Sign in</span></button>
                        </div>
            
                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>

                        <p class="linki" [routerLink]="['/register']" routerLinkActive="router-link-active">Sign up</p>
            
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="updated" [class.visible]="isVisible">
      <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>invalid login details
     </div>
  </section> -->


  <html>
<head>
	<title>Animated Login Form</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >

	
	
  <img class="wave">

  <div class="container">
    
		<div class="img" >
			<img class="at-item " src="../../../assets/img/bg.svg">
		
    
    </div>
		<div class="login-content">
		
    
      <form  [formGroup]="loginForm" (ngSubmit)="onLogin()" >
				<img class="logo" src="../../../assets/Screenshot 2022-11-24 at 02.20.37.png">
				<h2 class="t" style="color:white; font-size: 80%; margin-bottom: 2rem;" >We got you</h2>
           		<div class="input-div one">
           		   <div class="i">
                  <i class="bi bi-envelope-at-fill"></i>
           		   </div>
           		   <div class="div">
           		   		
           		   		<input type="text" class="input" placeholder="Email">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
                  <i class="bi bi-shield-lock-fill"></i>
           		   </div>
           		   <div class="div">
           		    
           		    	<input type="password" class="input" placeholder="password">
            	   </div>
            	</div>
              <table>
                <tr>
                <th> 
                  <a href="#">Sign up</a>
                </th>
               
                <th>
                  <a href="#" >Forgot Password?</a>
                  </th>
              </tr>
            </table>
             
            	<input type="submit" class="btn" value="Sign in">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../../../assets/js/main.js"></script>


   </body>
</html>