

<html>
<head>
	

	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >

	
	
 

  <div class="container" >
    
		<div class="img" >

			<img class="at-item " src="../../../assets/img/bg.svg">
		
    
    </div>
		<div class="login-content">
		
    <br>

      <form  [formGroup]="loginForm" (ngSubmit)="onLogin()"  style="position:fixed">
				<img class="logo" src="../../../assets/Screenshot 2022-11-24 at 02.20.37.png">
				<h2 class="t" style="color:white; font-size: 80%; margin-bottom: 2rem;" >We got you</h2>
        <br><br>
           		<div class="input-div one">
           		   <div class="i">
                  <i class="bi bi-envelope-at-fill"></i>
           		   </div>
           		   <div class="div">
           		   		
           		   		<input type="text" formControlName="email"  class="input" placeholder="Email">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
                  <i class="bi bi-shield-lock-fill"></i>
           		   </div>
           		   <div class="div">
           		    
           		    	<input type="password" formControlName="password"  class="input" placeholder="password">
            	   </div>
            	</div>
              <table>
                <tr>
                <th> 
                  <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active" >Sign up</a>
                </th>
               
                <th>
                  <a href="#" >Forgot Password?</a>
                  </th>
              </tr>
            </table>
             
            <button class="btn"  [disabled]="!loginForm.valid"><span>Sign in</span></button>

            </form>
        </div>
    </div>
    <script type="text/javascript" src="../../../assets/js/main.js"></script>


   </body>
</html>

<div class="updated" [class.visible]="isVisible">

   <table>
    <tr class="popUp">
      <i class="bi bi-patch-exclamation" style="color:white ;"></i><span>invalid login details</span>
      </tr>
   </table>
   
 
</div>