/* You can add global styles to this file, and also import other style files */

body{
    
   
    padding-bottom: 0;
}


.updated  {
    position: fixed;
     top: 0;
     right: 0.5rem;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    background: #14213D;
    color: #ffffff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
    margin-top: 60px;
  }

  .visible {
    opacity: 1;
    transform: translateY(1.25rem);
  }
