/* You can add global styles to this file, and also import other style files */

body{
    
   
    padding-bottom: 0;
  
}


.updated  {
    position: fixed;
     top: 0;
     right: 0.5rem;
  width: 15rem;
  height: 5rem;
    padding: 2rem;
    background: #14213D;
    color: #ffffff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
    margin-top: 60px;
  }

  .visible {
    opacity: 1;
    transform: translateY(1.25rem);
  }

  .popUp{
    margin-left: 1rem;
    text-align: center;
  }

  .stepper{
    background-color: #D9D9D9;
    height: 12rem;
    width: 100%;
    display: flex;
  }

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";


// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";