

<!-- Footer -->
<footer class="bg-dark text-center text-white">

    <div class="container">
    <div class="row">
     
      <div class="col-sm">
        <br>
       Contact us
<br><br><br>
       <i class="bi bi-phone-flip"></i><span>073 166 4529</span>

     <br>
       <i class="bi bi-house-door"></i><span>19668 tsamaya road Mamelodi East 0122</span> 

       <img  class="logo" src="../../../assets/awe.png">
      
      </div>

      <div class="col-sm">
        <br>
        send a query
        <br> <br> <br>
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name">
            </div>
          </div>
          <div class="row">
            
            <div class="col">
              <br>
              <input style ="height:6rem ;" type="text" class="form-control" placeholder="First name">
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-primary">Send </button>
        </form>
      </div>
      <div class="col-sm">
        <br>
        Watch a turorial video
  
        <br><br><br>
        <div class="ratio ratio-16x9">
          <iframe
            class="shadow-1-strong rounded"
            src="https://www.youtube.com/embed/vlDzYIIOYmM"
            title="YouTube video"
            allowfullscreen
          ></iframe>
          
        </div>
        <br> <br> <br>
      </div>
    </div>
  </div>
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">wegotyou.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->