<app-navbar></app-navbar>

<div class="stepper">
    <div class="connector"></div>
  
    <div class="circle">
        <i class="bi bi-person-fill "></i>
      <span class="desc">cv templates</span>
    </div>
  
    <div class="circle">
      <i class="bi bi-journal-text"></i>
      
        <span class="desc">&nbsp;cv Form</span>
    </div>
    <div class="circle">
      <i class="bi bi-cloud-arrow-down-fill text-primary"></i>
      <span class="desc">&nbsp;downloaded</span>
    </div>
   
  </div>

<div class="container">
    <img src="{{localStorageData}}" alt="">
</div>





     

<app-footer></app-footer>