img{
    width: 50%;
    height: 60rem;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.head{
    background-color: #14213D;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

span{

    color: white;
    margin-left: 1rem;
}

.btn{
    width:300%;
    margin-bottom: 5rem;
    position: relative;
   

}

.container1{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
   
}

.btnC{
    margin-left: 40%;
    background-color: #14213D;
    border-radius: 0.5rem;
    width: 20%;
    height: 3rem;
    margin-right: 40%;
}

h1{
    text-align: center;
}

th{
    width: 20%;
    margin-left: 2rem;
}

.p1{
    margin-left: 1rem;
}


.circle{
    background-color: #14213D;
    width: 10%;
    height: 9rem;
    border-radius: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .connector{
      width: 70%;
      height: 2rem;
      position: absolute;
      background-color:#14213D;
      margin-left: 14rem;
      margin-top: 4rem;
  
  }
  
  .bi{
      margin-left: 3%;
      font-size: 4rem;
      color: white;
    
      position: absolute;
  }
  
  .desc{
      margin-left: 3rem;
      margin-top: 5rem;
      position: absolute;
  }

  .row{
    width: 100%;
  }

  .col-sm{
    width: 45%;
    background-color: #14213D;
    height: 230vh;
    border-radius: 0 8rem 8rem 0;
  }

  .col-sm1{
    width: 55%;
  }

  h1{
    color: white;
    margin-top: 2rem;
  }
