<app-navbar></app-navbar>

<div class="stepper">
    <div class="connector"></div>

    <div class="circle">
        <i class="bi bi-person-fill   text-primary"></i>
      <span class="desc">cv templates</span>
    </div>

    <div class="circle">
        <i class="bi bi-journal-text"></i>
        <span class="desc">&nbsp;cv Form</span>
    </div>
    <div class="circle">
        <i class="bi bi-cloud-arrow-down-fill"></i>
        <span class="desc">Downloaded</span>
    </div>
   
</div>


<div class="container1">
    
    <br><br>
    <div class="container">
    <img class="card-img-top" src="https://www.jobseeker.com/api/media/documents/3bdb184f-d098-44a1-b5fd-1bf34f5d2af3/CV-templates.svg?v=1650287576043" alt="Card image cap">
    <br>

    <button class="btnC"  [routerLink]="['/cvform']" routerLinkActive="router-link-active"><span>Choose cv</span></button>
       
    
       
    



   </div>
   



      <br><br>





<app-footer></app-footer>
</div>
